/*蓝色部分的内容区*/
header{
	width: 100%;
	height: 500px;
	background: #008de1;
}
main{
	margin: 0 auto;
	padding-top: 150px;
	width: 1200px;
}
/*搜索区*/
main>img{
	display: block;
	margin: 0 auto;
}
div.search{
	margin: 80px auto;
	width: 710px;
}
.search>form>select,
.search>form>input,
.search>form>button{
	vertical-align: middle;
	height: 64px;
	font-size: 20px;
	border: 0;
	outline: none;
}
.search>form>select{
	padding: 0 15px;
}
.search>form>input{
	padding: 0 15px 0 20px;
	width: 420px;
	font-size: 18px;
}
.search>form>button{
	margin-left: 10px;
	width: 150px;
	background-color: #f74342;
	color: #fff;
}
/*二维码区域*/
.code{
	padding: 15px;
	position: relative;
	width: 160px;
	height: 166px;
	border: 1px solid #ddd;
}
.code img{
	width: 100%;
}
.code span{
	position: absolute;
	bottom: -8px;
	left: 35px;
	font-size: 14px;
	background-color: #fff;
	color: #adadad;
}
.code-describe{
	margin-left: 20px;
	margin-top: 30px;
	font-size: 16px;
	color: #414141;
}
.code-describe p{
	margin: 5px 0;
}
.code-describe strong{
	font-size: 30px;
	color: #f74342;
}